body{
    background: url(/images/pic10.jpg);
    padding-top: 130px;
}
p{
    margin-left: 270px;
    margin-right: 478px;
}
div{
    margin-left: 260px;
    
}
h3{
    color: seashell;
    margin-left: 430px;
}
