body{
    background: url(/images/pic10.jpg);
    padding-left: 100px;
    padding-top: 40px;
}
h2{
    color: seashell;
    margin-left: 230px;
    margin-bottom: 20px;
}
p{
    margin-left: 16px;
    margin-right: 445px;
}